body{
    background-color: #582A72;
    text-align: center;
    color: #6B457F;
}

main{
    background-color: #6B457F;
    font-size: 100px;;
    font-weight: 600;
    max-width: 480px;
    margin: auto;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav div{
    padding: 1em;
    margin: 1em;

}

button{
    background-color:#582A72;
    margin: 1em;
    padding: 1em;
}

.highlited{
    color: #9C91A2;
}