:root{
    --main-background:#582A72;
    --main-color:#6B457F;
    --highlihted-color:#9C91A2;
}

body{
    background-color: var(--main-background);
    text-align: center;
    color: var(--main-color);
}

main{
    background-color: var(--main-color);
    font-size: 100px;;
    font-weight: 600;
    max-width: 480px;
    margin: auto;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav div{
    padding: 1em;
    margin: 1em;

}

button{
    background-color:var(--main-background);
    margin: 1em;
    padding: 1em;
}

.highlited{
    color: var(--highlihted-color);
}